.alert {
  background: #dbecf0;
  border-radius: 2px;
  padding: 1rem;
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
}

p,
a {
  display: block;
  font-family: "Yeseva One";
  font-weight: bold;
}

.fa-info-circle {
  font-size: 2rem;
  margin-right: 1rem;
}

.fa-times-circle {
  margin-left: 1rem;
  line-height: 2rem;
}

a {
  margin-left: auto;
  min-width: 80px;
  border-bottom: 1px solid;
  text-decoration: none;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}
